<body>
    <div class="calculator">
        <!-- Display -->
        <div class="calculator__display">
            <div class="display__input">{{equation}}</div>
            <div class="display__output" [ngStyle]="{'font-size': (result.toString().length > 10) ? '30px' : '3rem'}">{{result}}</div>
        </div>
        <!-- Keys -->
        <div class="calculator__keys">

            <!-- FirstRow -->
            <button class="calculator__key calculator__key--operation" (click)="arithmeticBinaryOperation('%')">
                <fa-icon [icon]="faPercentage"></fa-icon>
            </button>
            <button class="calculator__key calculator__key--all-clear" (click)="deleteResult()">CE</button>
            <button class="calculator__key calculator__key--all-clear" (click)="deleteAll()">C</button>
            <button class="calculator__key calculator__key--backspace" aria-label="Backspace" (click)="backspace()">
                <fa-icon [icon]="faBackspace"></fa-icon>
            </button>


            <!-- SecondRow -->
            <button class="calculator__key calculator__key--operation"
                (click)="arithmeticUnaryOperation('inverse')"><sup>1</sup>/<sub>X</sub></button>
            <button class="calculator__key calculator__key--operation square"
                (click)="arithmeticUnaryOperation('squaring')">X<sup>2</sup></button>
            <button class="calculator__key calculator__key--operation" (click)="arithmeticUnaryOperation('squareRoot')">
                <fa-icon [icon]="faSquareRootAlt"></fa-icon>
            </button>
            <button class="calculator__key calculator__key--operation" (click)="arithmeticBinaryOperation('÷')">
                <fa-icon [icon]="faDivide"></fa-icon>
            </button>

            <!-- ThirdRow -->
            <button class="calculator__key calculator__key--number" (click)="numberInput('7')">7</button>
            <button class="calculator__key calculator__key--number" (click)="numberInput('8')">8</button>
            <button class="calculator__key calculator__key--number" (click)="numberInput('9')">9</button>
            <button class="calculator__key calculator__key--operation" (click)="arithmeticBinaryOperation('x')">
                <fa-icon [icon]="faTimes"></fa-icon>
            </button>

            <!-- FourthRow -->
            <button class="calculator__key calculator__key--number" (click)="numberInput('4')">4</button>

            <button class="calculator__key calculator__key--number" (click)="numberInput('5')">5</button>

            <button class="calculator__key calculator__key--number" (click)="numberInput('6')">6</button>

            <button class="calculator__key calculator__key--operation" (click)="arithmeticBinaryOperation('-')">
                <fa-icon [icon]="faMinus"></fa-icon>
            </button>

            <!-- FifthRow -->
            <button class="calculator__key calculator__key--number" (click)="numberInput('1')">1</button>
            <button class="calculator__key calculator__key--number" (click)="numberInput('2')">2</button>
            <button class="calculator__key calculator__key--number" (click)="numberInput('3')">3</button>
            <button class="calculator__key calculator__key--operation" (click)="arithmeticBinaryOperation('+')">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>

            <!-- SixthRow -->
            <button class="calculator__key calculator__key--operation plus-minus"
                (click)="arithmeticUnaryOperation('negate')"> &#177; </button>
            <button class="calculator__key calculator__key--number" (click)="numberInput('0')">0</button>
            <button class="calculator__key calculator__key--number calculator__key--operation"
                (click)="numberInput('.')">.</button>
            <button class="calculator__key calculator__key--equals" (click)="equal()">
                <fa-icon [icon]="faEquals"></fa-icon>
            </button>


        </div>
    </div>
</body>